@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura Book';
  src:
    url('./assets/fonts/futura_book_regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/futura_book_regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Futura Medium';
  src:
    url('./assets/fonts/futura-medium-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Futura Regular';
  src:
    url('./assets/fonts/glyphicons-halflings-regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(243, 243, 243, 0.533);
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
}

.plusfonts {
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 20%)) invert(17%) drop-shadow(1px 3px 0px rgba(0, 0, 0, 62%));
  font-feature-settings: "smcp", "zero";
  -webkit-font-feature-settings: "smcp", "zero";
  -moz-font-feature-settings: "smcp", "zero";
}

.fonts {
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  font-feature-settings: "smcp", "zero";
  -webkit-font-feature-settings: "smcp", "zero";
  -moz-font-feature-settings: "smcp", "zero";
}

.blend {
  background: linear-gradient(90deg, black, transparent);
  background-blend-mode: overlay;
}

.cartBG {
  clip-path: circle(50% at 50% 50%);
  background-color: #dc50ff;
}